<div class="enter_section">
    <img src="/images/burger.png" alt="">
    <h1>Eat-Da-Burger</h1>

    <div class="container">
        <div class="grid-container">
            {{#each burgers}}
            <div>
                <form class="devour_form" action="">
                    <p> <span>{{this.id}}</span> {{this.burger_name}}</p>
                    <input type="submit" class="devour">
                </form>

            </div>

            {{/each}}
        </div>
        <div class="grid-container">
            {{#each ateBurgers}}
            <div>
                <p>
                    <span>{{this.id}}</span>.
                    <span class="devouredBurger">{{this.burger_name}}</span>
                    <br>
                    <button class="delete">Delete</button>
                </p>
            </div>
            {{/each}}
        </div>
    </div>



    <form id="addBurgerForm" action="" method="POST">
        <div>
            <textarea name="" id="enter_text" cols="30" rows="10"></textarea>
            <br>
            <input id="text-enter-button" type="submit">
            <p>Enter a burger you would like to eat!</p>
        </div>
    </form>

</div>